{% extends 'base.html' %}
{% load static %}

{% block title %}Login - PC Component Builder{% endblock %}

{% block content %}
<section class="loginSection">
  <div class="loginCard">
    <h1>Customer Login</h1>

    <form method="post">
      {% csrf_token %}

      <div class="formGroup">
        <label for="login-username">Username or Email</label>
        <input id="login-username" type="text" name="username">
      </div>

      <div class="formGroup">
        <label for="login-password">Password</label>
        <input id="login-password" type="password" name="password">
        <a href="#" class="forgotLink">Forgot Your Password?</a>
      </div>

      <div class="loginButtons">
        <button type="submit" class="btnSignin">Sign In</button>
        <a href="{% url 'register' %}">
          <button type="button" class="btnSignup">Sign Up</button>
        </a>
      </div>
    </form>
  </div>
</section>
{% endblock %}