{% extends 'base.html' %}
{% load static %}

{% block title %}Register - PC Component Builder{% endblock %}

{% block content %}


  <!-- Registration Section -->
  <section class="registerSection">

    <div class="registrationCard">
    
    <h1>Customer Registration</h1>
 
    <div class="regFormGroup">
      
      <label>Email Address</label>
      <input type="email">
    
    </div>
 
    <div class="regFormGroup">
      
    <label>First Name</label>
      <input type="text">
    
    </div>
 
    <div class="regFormGroup">
      
      <label>Last Name</label>
      <input type="text">
    
    </div>
 
    <div class="regFormGroup">
     
    <label>Street Address</label>
      <input type="text">
    
    </div>
 
    <div class="regFormGroup">
      
    <label>City</label>
      <input type="text">
    
    </div>
 
    
    <div class="regFormGroup">
      
      <label>State/Province</label>
      <input type="text">
   
    </div>
 
    
    <div class="regFormGroup">
      
      <label>Zip/Postal Code</label>
      <input type="text">
    
    </div>
 
    
    <div class="regFormGroup">
     
    <label>Country</label>
     <input type="text">
    
    </div>
 
    
    <div class="regFormGroup">
     
      <label>Phone Number</label>
      <input type="tel">
  
    </div>
 
    <a href="{% url 'login' %}"><button class="regBtnSignup">Sign Up</button></a>
  
 
</section>
 
{% endblock %}