{% extends 'base.html' %}
{% load static %}

{% block title %}Register - PC Component Builder{% endblock %}

{% block content %}
<section class="registerSection">
  <div class="registrationCard">
    <h1>Customer Registration</h1>


    {% if error %}
        <p style="color: red; margin-bottom: 16px;">{{ error }}</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}

      <div class="regFormGroup">
        <label for="reg-email">Email Address</label>
        <input id="reg-email" type="email" name="email">
      </div>

      <div class="regFormGroup">
        <label for="reg-first-name">First Name</label>
        <input id="reg-first-name" type="text" name="first_name">
      </div>

      <div class="regFormGroup">
        <label for="reg-last-name">Last Name</label>
        <input id="reg-last-name" type="text" name="last_name">
      </div>

      <div class="regFormGroup">
        <label for="reg-street">Street Address</label>
        <input id="reg-street" type="text" name="street">
      </div>

      <div class="regFormGroup">
        <label for="reg-city">City</label>
        <input id="reg-city" type="text" name="city">
      </div>

      <div class="regFormGroup">
        <label for="reg-province">State/Province</label>
        <input id="reg-province" type="text" name="province">
      </div>

      <div class="regFormGroup">
        <label for="reg-postal">Zip/Postal Code</label>
        <input id="reg-postal" type="text" name="postal_code">
      </div>

      <div class="regFormGroup">
        <label for="reg-country">Country</label>
        <input id="reg-country" type="text" name="country">
      </div>

      <div class="regFormGroup">
        <label for="reg-phone">Phone Number</label>
        <input id="reg-phone" type="tel" name="phone">
      </div>

      <div class="regFormGroup">
        <label for="reg-password">Password</label>
        <input id="reg-password" type="password" name="password">
      </div>

      <button type="submit" class="regBtnSignup">Sign Up</button>
    </form>
  </div>
</section>
{% endblock %}