{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="searchPage">
  <h1 class="searchPageTitle">Components</h1>

  <div class="searchResults">

    {% for component in components %}
    <div class="searchProductCard">

      <div class="searchProductInfo">
        <span class="searchProductName">{{ component.name }}</span>

        <span class="searchProductPrice">
          {{ component.storeitem_set.first.price|default:"-" }}
        </span>

        <a href="{% url 'add_component' component.id %}">
          <button class="searchProductAddBtn">Add</button>
        </a>
      </div>

    </div>
    {% endfor %}

  </div>

</section>

{% endblock %}